<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
     </ion-buttons>
  
    <ion-title color="primary">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Lista de editados Local Storge</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of lista">
      <ion-label>
        <h2>{{item.codigoBodega}}</h2>
        <p>{{item.nombre}}</p>
      </ion-label>
      <ion-label slot="end">
        <div>
          <h1 style="font-size: 15px; font-weight: bold;">ventas:</h1>
          <p>{{item.ventas}}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content" menuId="first">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list>
        <ion-menu-toggle *ngFor="let c of componentes | async" [autoHide]="false">
          <ion-item [routerLink]="c.redirectTo" detail>
            <ion-icon  [name]="c.icon" slot="start" color="primary"></ion-icon>
            {{c.name}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>